 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 939px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 168px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 711px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 994px;
  --radius: 38px;
  height: auto;
  min-height: 593px;
  margin: 0 -424px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: -563px 101px 0 49px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px 54px 0 49px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 46px auto 0 50px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  font-size: 1rem;
  margin: 16px auto 0 49px;
  padding: 9px 50px 11px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  font-size: 1rem;
  margin: 20px auto 0 49px;
  padding: 10px 61px 11px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 711px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 647px;
  height: 856px;
  margin: -145px auto 0 -54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 30px;
    margin-right: 3px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 622px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding-top: 9px;
    padding-right: 22px;
    padding-left: 21px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 654px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 476px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 584px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -15px;
    margin-bottom: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-1 .u-group-1 {
    min-height: 244px;
    margin-top: 76px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: -222px;
    margin-right: 159px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 9px;
    margin-right: 151px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 0.625rem;
    margin-top: 9px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-left: 19px;
    padding: 5px 1px 6px 0;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: 6px;
    margin-left: 19px;
    padding: 6px 8px 8px 7px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 27px;
  }

  .u-section-1 .u-image-1 {
    width: 225px;
    height: 278px;
    margin-top: -251px;
    margin-right: -50px;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 795px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 535px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 1029px;
  --radius: 38px;
  height: 606px;
  margin: -36px -570px 0 auto;
}

.u-section-2 .u-image-1 {
  --radius: 32px;
  width: 619px;
  height: 423px;
  margin: -518px -50px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 535px;
}

.u-section-2 .u-container-layout-2 {
  padding: 28px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 24px 28px 0 122px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 33px 28px 0 102px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 321px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-2 .u-shape-1 {
    width: 360px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 246px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 507px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 41px;
    margin-right: -29px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-2 .u-shape-1 {
    height: 216px;
    width: 340px;
    margin-top: 14px;
    margin-right: auto;
    margin-left: -29px;
  }

  .u-section-2 .u-image-1 {
    height: 156px;
    width: 193px;
    margin-top: -195px;
    margin-right: auto;
    margin-left: -37px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 8px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -177px;
    margin-right: 38px;
    margin-left: 183px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 11px;
    margin-right: 38px;
    margin-left: 156px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 802px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 442px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-shape-1 {
  width: 1016px;
  --radius: 38px;
  height: 533px;
  margin: -56px -446px 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: -478px auto 0 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 30px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 19px 13px 0 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 442px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 639px;
  height: 421px;
  object-position: 38.08% 0%;
  margin: 0 -34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-3 .u-shape-1 {
    width: 470px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 310px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-shape-1 {
    width: 360px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 419px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 61px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-3 .u-shape-1 {
    height: 260px;
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -237px;
    margin-right: 174px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 0;
    margin-right: 175px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 31px;
  }

  .u-section-3 .u-image-1 {
    width: 290px;
    height: 155px;
    margin-top: -229px;
    margin-right: -58px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 908px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 166px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 592px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 1016px;
  --radius: 38px;
  height: 552px;
  margin: -48px -570px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 915px;
  height: 625px;
  object-position: 23.12% 50%;
  margin: -571px auto 0 -116px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 592px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 20px 46px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 11px 46px 0 4px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 46px 0 4px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-4 .u-image-1 {
    inset: auto;
    width: 470px;
    height: 321px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 607px;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-4 .u-shape-1 {
    width: 360px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 246px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 107px;
    margin-bottom: 33px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-4 .u-shape-1 {
    height: 258px;
    margin-top: -15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    width: 280px;
    height: 177px;
    margin-top: -195px;
    margin-left: -38px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 0.875rem;
    margin-top: -239px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 8px;
    margin-right: 21px;
    margin-left: 152px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 1px;
    margin-right: 21px;
    margin-left: -21px;
  }
}