 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/task_01kb3d1jpyekmt95egdf8zxzsx_1764272263_img_1.webp');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 984px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 269px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 573px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 573px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  --radius: 38px;
  width: 1047px;
  height: 573px;
  margin: -1px auto 0 -570px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: -503px 599px 0 -540px;
}

.u-section-1 .u-image-1 {
  height: 479px;
  width: 479px;
  background-image: url("images/task_01kb3d9qanenvajsk9ywjykgrg_1764272507_img_1.webp");
  background-position: 50% 50%;
  background-size: cover;
  margin: -155px -16px 0 107px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -304px 599px 0 -540px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-1 .u-shape-1 {
    width: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: 494px;
  }

  .u-section-1 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    height: 470px;
    width: 470px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -295px;
    margin-right: 494px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-shape-1 {
    width: 360px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 378px;
  }

  .u-section-1 .u-image-1 {
    height: 360px;
    width: 360px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -185px;
    margin-right: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 567px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 567px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 120px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 38px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 38px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 26px;
  }

  .u-section-1 .u-shape-1 {
    height: 196px;
    margin-top: -92px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -180px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-image-1 {
    height: 125px;
    width: 125px;
    margin-top: 10px;
    margin-right: -29px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin: -131px 107px -81px 11px;
  }
} .u-section-2 {
  background-image: url("images/task_01kb3dmttxfb8vsrsgb6ngdg4p_1764272907_img_1.webp");
  background-position: 50% 40.73%;
  background-size: cover;
  background-repeat: no-repeat;
}

.u-section-2 .u-sheet-1 {
  min-height: 960px;
}

.u-section-2 .u-shape-1 {
  width: 1080px;
  --radius: 38px;
  height: 549px;
  background-image: none;
  margin: 206px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: -494px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 771px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 771px;
  margin: 21px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-2 .u-shape-1 {
    width: 940px;
    margin-top: 374px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -629px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-top: 311px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -658px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-top: 262px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -609px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-2 .u-shape-1 {
    height: 242px;
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-top: -232px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 400;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.625rem;
    width: 267px;
    font-weight: 400;
    margin: 5px auto 30px;
  }
} .u-section-3 {
  background-image: url("images/task_01kb3e2avteym9gedp2g99n2qx_1764273346_img_0.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.u-section-3 .u-sheet-1 {
  min-height: 957px;
}

.u-section-3 .u-shape-1 {
  width: 1080px;
  --radius: 38px;
  height: 549px;
  background-image: none;
  margin: 204px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: -480px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 771px;
  margin: 52px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 771px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-3 .u-shape-1 {
    width: 940px;
    margin-top: 431px;
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -629px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-3 .u-shape-1 {
    width: 720px;
    margin-top: 356px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -658px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    margin-top: 285px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -609px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
    font-size: 1.1111111111111112rem;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-3 .u-shape-1 {
    height: 246px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -232px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 8px;
    margin-left: 9px;
    margin-right: 9px;
    font-weight: 400;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    font-weight: 400;
    margin: 10px 19px 46px;
  }
} .u-section-4 {
  background-image: url("images/task_01kb3e5a98ekdafrmk7c40w7ag_1764273426_img_1.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.u-section-4 .u-sheet-1 {
  min-height: 953px;
}

.u-section-4 .u-shape-1 {
  width: 1080px;
  --radius: 38px;
  height: 549px;
  background-image: none;
  margin: 202px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: -463px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 771px;
  margin: 71px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 771px;
  margin: 71px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-4 .u-shape-1 {
    width: 940px;
    margin-top: 526px;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -629px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 85px;
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
    margin-top: 484px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -658px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
    margin-top: 382px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -609px;
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    font-size: 1.1111111111111112rem;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-4 .u-shape-1 {
    height: 182px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-top: -175px;
    margin-left: 51px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 16px;
    margin-left: 6px;
    margin-right: 6px;
    font-weight: 400;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    font-weight: 400;
    margin: 6px 34px 79px;
  }
} .u-section-5 {
  background-image: url("images/task_01kb3g1tfpegwtn7nc4yvnf49b_1764275420_img_1.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.u-section-5 .u-sheet-1 {
  min-height: 984px;
}

.u-section-5 .u-shape-1 {
  width: 1080px;
  --radius: 38px;
  height: 549px;
  background-image: none;
  margin: 218px auto 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: -457px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 771px;
  margin: 50px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 771px;
  margin: 82px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-5 .u-shape-1 {
    width: 940px;
    margin-top: 452px;
  }

  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -629px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 85px;
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-5 .u-shape-1 {
    width: 720px;
    margin-top: 403px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -658px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
    margin-top: 304px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -609px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
    font-size: 1.1111111111111112rem;
    margin-bottom: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-5 .u-shape-1 {
    height: 206px;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -188px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    font-size: 0.625rem;
    margin-top: 10px;
    font-weight: 400;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    font-size: 0.625rem;
    margin-top: 9px;
    margin-bottom: 60px;
    font-weight: 400;
  }
}